<div class="row">
  <div class="col-md-5">


<img src="/assets/boiselogo.jpg" width="300" height="150">
<h4>Welcome to the Bangladeshi Students Association at Boise State University</h4>
<img src="/assets/bangladesh.png" width="150" height="130">

    <h2>Contacts of the Current Students</h2>
    <ul class="list-group">
      <li class="list-group-item"
        *ngFor="let contact of contacts"
        (click)="selectContact(contact)"
        [class.active]="contact === selectedContact">
        {{contact.name}}
      </li>
    </ul>
    <button class="btn btn-primary btn-lg" (click)="createNewContact()">New</button>
  </div>
  <div class="col-md-5 col-md-offset-2">
    <contact-details
      [contact]="selectedContact"
      [createHandler]="addContact"
      [updateHandler]="updateContact"
      [deleteHandler]="deleteContact">
    </contact-details>
  </div>
</div>