@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>The first dumb web app which does nothing but to display using the template asp.net MVC framework provides.</p>
