@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
   Boise State University<br />
    Boise, ID<br />
    <abbr title="Phone">P:</abbr>
    ***.***.****
</address>

<address>
    <strong>Support:</strong> <a href="mailto:almahmudsaif@gmail.com">almahmudsaif@gmail.com</a><br />

</address>
